<div class="grid wrapper">

  <div class="col-12">
    <div id="chart">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [dataLabels]="chartOptions.dataLabels"
        [title]="chartOptions.title"
        [colors]="chartOptions.colors"
      ></apx-chart>
    </div>
  </div>
  <div class="col-12">
    <div echarts [options]="mapOption"></div>
  </div>

  <div class="col-12">
    <div id="bar-chart">
      <apx-chart
        [series]="barChartOptions.series"
        [chart]="barChartOptions.chart"
        [dataLabels]="barChartOptions.dataLabels"
        [plotOptions]="barChartOptions.plotOptions"
        [xaxis]="barChartOptions.xaxis"
      ></apx-chart>
    </div>
  </div>

  <div class="custom-class">
      <canvasjs-chart [options]="donutChartOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
      <div>
        <h1><b>Session By Browser</b></h1>
        <apx-chart
          [series]="pieChartOptions.series"
          [chart]="pieChartOptions.chart"
          [labels]="pieChartOptions.labels"
          [responsive]="pieChartOptions.responsive"
        ></apx-chart>
      </div>
  </div>
</div>
