<div class="grid">

  <div class="col-12">
    <div id="chart">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [dataLabels]="chartOptions.dataLabels"
        [title]="chartOptions.title"
        [colors]="chartOptions.colors"
      ></apx-chart>
    </div>
  </div>
  <div class="col-12">
    <div echarts [options]="mapOption"></div>
  </div>

  <div class="col-12">
    <div id="bar-chart">
      <apx-chart
        [series]="barChartOptions.series"
        [chart]="barChartOptions.chart"
        [dataLabels]="barChartOptions.dataLabels"
        [plotOptions]="barChartOptions.plotOptions"
        [xaxis]="barChartOptions.xaxis"
      ></apx-chart>
    </div>
  </div>

  <div class="col-12">
    <div>
      <canvasjs-chart [options]="pieChartOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
    </div>
  </div>

  <div class="col-12">
    <div>
      <p>Data: {{ data | json }}</p>
    </div>

  </div>
</div>
